#title {
    font-size: 8em;
    text-align: center;
}

#message {
    font-size: 80px;
    text-align: center;
}

div {
    text-align: center;
    flex: content;
    flex-flow: row;
    font-size: 3em;
}

img {
    height: 500px;
    width: 500px;
}

button {
    height: 100px;
    width: 500px;
    font-size: 40px;
}